<header>
  <div id="top" class="big-bg">
      <header class="page-header wrapper">
          <nav>
              <ul class="main-nav">
                  <li><a href="#">ログアウト</a></li>
                  <li><a href="#">マイページ</a></li>
                  <!-- ログインしていなかったら -->
                  <!-- <li><a href="#">ログイン</a></li> -->
              </ul>
          </nav>
      </header>

      <div class="top-content wrapper">
          <h2 class="page-title-top">Start Here<br>Quickly!!!</h2>
          <p>今すぐ、ここから始めよう！</p>
          <a class="button" href="#">質問する</a>
          <!-- ログインしていなかったら -->
          <!-- <a class="button" href="#">新規登録</a> -->
      </div><!-- /.top-content -->
  </div><!-- /#top -->
</header>

<div class="question-content wrapper">
  <h2 class="questions">質問一覧</h2>
</div><!-- /.question-content -->

<div class="wrapper grid">

<%# <% if @questions.present? %> 
  <%# <% @questions.each do |question|%> 
  <%# <div class="question"> %>
    <%# <% link_to(question_path(question.id), method: :get) do %> 
      <%# <%= image_tag question.image, class: "question-img" %> 
      <p> <%# question.incomp_text %> </p>
        <%# <% if question.comments.present? %> 
          <%# <div class='commentes'>
            <span>コメントあり！</span>
          </div> %>
        <%# <% end %> 
    <%# <% end %>
<%# <% end %> 
<%# 質問画像と内容の配置 %>
  
</div><!-- /.grid -->